<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoMapper" version="3.2.1" targetFramework="wp80" />
  <package id="BugSense.WP8" version="3.5.0.2" targetFramework="wp80" />
  <package id="Coding4Fun.Toolkit.Controls" version="2.0.7" targetFramework="wp80" />
  <package id="Microsoft.ApplicationInsights" version="0.14.0-build20632" targetFramework="wp80" />
  <package id="Microsoft.ApplicationInsights.WindowsPhone" version="0.14.0-build20632" targetFramework="wp80" />
  <package id="Microsoft.Bcl" version="1.1.8" targetFramework="wp80" />
  <package id="Microsoft.Bcl.Async" version="1.0.168" targetFramework="wp80" />
  <package id="Microsoft.Bcl.Build" version="1.0.14" targetFramework="wp80" />
  <package id="Microsoft.Data.Edm" version="5.6.0" targetFramework="wp80" />
  <package id="Microsoft.Data.OData" version="5.6.0" targetFramework="wp80" />
  <package id="Newtonsoft.Json" version="5.0.6" targetFramework="wp80" />
  <package id="sqlite-net" version="1.0.7" targetFramework="wp80" />
  <package id="sqlite-net-wp8" version="3.8.5" targetFramework="wp80" />
  <package id="System.Spatial" version="5.6.0" targetFramework="wp80" />
  <package id="WindowsAzure.Storage" version="4.0.1" targetFramework="wp80" />
  <package id="WPtoolkit" version="4.2013.08.16" targetFramework="wp80" />
</packages>